################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
"/Linked - Alec/build/*"
"/Linked - Alec/.py"
"/Linked - Alec/main_pygbag.py"